Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
*~
*.[1-9]
*.sw[po]
tags

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/m4/
.dirstamp

/src/vcc_*if.c
/src/vcc_*if.h

# Built
src/vmod*.man.rst
src/vmod*.rst
src/vmod_rtstatus_html.h
