Source: libvmod-rtstatus
Section: web
Priority: extra
Maintainer: Varnish Software <support@varnish-software.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils, libvarnishapi
Standards-Version: 3.8.1
Vcs-Git: git://github.com/varnish/libvmod-rtstatus.git

Package: libvmod-rtstatus
Architecture: any
Depends: varnish, ${Varnish:ABI}, ${misc:Depends}
Description: Real time status vmod for Varnish
